# skip R-studio files
.DS_Store
story01/CVPR-2023-Paper-Statistics/
*/pdf/*
olympic/Olympic_Shiny
olympic/athlete_events.csv
olympic/noc_regions.csv
olympic/data/
olympic/*.zip
olympic/Johns_Hopkins_Data_Visualization_and_Dashboarding_With_R/
olympic/rio2016/
olympic/rsconnect/
olympic/*df*.csv
olympic/*summmer*.csv

olympic/.RData
olympic/.Rhistory
olympic/olp8622.ipynb
olympic/story-script.md
project02/data_arxiv_2324_comments.json
project02/filter.ipynb